body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: url("fondo.jpg") no-repeat;
}

header {
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px;
    float:left;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0 12px;
}

nav ul li a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}

nav ul li:hover {
    background: rgba(1, 7, 36, 0.8); 
    border-radius: 50px;
}

.nav-container {
    display: flex;
    align-items: center; 
}

.logo {
    margin-right: auto; 
}

.logo-img {
    height: 18px; 
    width: auto;
}
.carrito {
    margin-right: auto; 
}

.carrito-img {
    height: 18px; 
    width: auto;
}

.slider-frame {
    width: 100%;
    height: 60vh; 
    position: relative; 
    overflow: hidden;
    margin-top: 60px; 
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%; 
    margin: 0;
    animation: slide 20s infinite alternate ease-in-out; 
}

.slider-frame li {
    list-style: none;
    width: 100vw; 
    height: 60vh; 
}

.slider-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
    background-color: rgba(0, 0, 0, 0.5); 
    position: absolute; 
    top: 60px; 
    width: 100%; 
    z-index: 101; 
}

.search-bar {
    display: flex;
    gap: 10px;
    width: 80%;
    max-width: 1000px;
    justify-content: center;
    background-color: rgba(1, 7, 36, 0.8); 
    padding: 10px;
    border-radius: 8px;
}

.search-bar input[type="text"],
.search-bar button {
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.search-bar input[type="text"] {
    flex: 1;
    border: 1px solid #ccc;
}

.search-bar button {
    background-color: #07032e;
    color: white;
    cursor: pointer;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

footer {
    background-color: #07032e;
    color: white;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.social-media img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.faq a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.faq a:hover {
    text-decoration: underline;
    color: rgba(1, 7, 36, 0.8); 
}

.copyright p {
    margin: 0;
}

.concerts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 17px;
    padding: 17px;
    background: url("fondo.jpg") no-repeat;
    position: relative;
    z-index: 2; 
}

.concert {
    flex: 1 1 calc(25% - 40px); 
    max-width: calc(25% - 40px); 
    box-sizing: border-box;
    background-color: #00000067;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.concert img {
    width: 100%;
    height: 409px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.concert img:hover {
    transform: scale(1.05);
}

.concert button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #07032e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.concert button:hover {
    background-color: rgba(1, 7, 36, 0.8); 
}