<script>
    document.addEventListener("DOMContentLoaded", function () {
                    fetch('/carrito/{{nombre_usuario}}')
                    .then(response => response.json())
                    .then(data => {
                        const entradas = document.getElementById("entradas");

                        for (let i = 0; i < data.length; i++) {
                            const element = document.createElement("li")
                            const button = document.createElement("button")
                            element.innerText = "Tipo de entrada: " + data[i].id + ". Precio: $" + data[i].precio + ". Cantidad : " + data[i].cantidad
                            button.innerText = "Eliminar del carrito"
                            button.setAttribute("onclick", 
                            "href = '/carrito/limpiar/{{nombre_usuario}}/" + data[i].id + "'")
                            element.appendChild(button)
                            entradas.append(element)
                        }
                        
                        
                    })
                    .catch(error => console.error("Error fetching JSON data:", error));
                });
</script>