<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Cuenta - Plataforma de Entradas</title>
    <link rel="stylesheet" href="../static/cuenta.css">
</head>
<body>
    <header>
        <nav class="nav-container">
            <ul>
                <li class="logo">
                    <a href="/index">
                        <img src="../static/logo.png" alt="Logo" class="logo-img">
                    </a>
                </li>
                <li><a href="{{url_for('eventos', nombre_usuario=nombre_usuario)}}">Eventos</a></li>
                <li><a href="{{url_for('about', nombre_usuario=nombre_usuario)}}">¿Quiénes somos?</a></li>
                <li><a href="{{url_for('faq', nombre_usuario=nombre_usuario)}}">Ayuda</a></li>
                <li><a href="{{url_for('contact', nombre_usuario=nombre_usuario)}}">Contacto</a></li>
                <li><a href="{{url_for('cuenta', nombre_usuario=nombre_usuario)}}">Mi cuenta</a></li>
                <a href="{{ url_for('carrito_detalles', nombre_usuario=nombre_usuario) }}">
                    <img src="{{ url_for('static', filename='carrito.png') }}" alt="Carrito" class="logo-img">
                </a>
            </ul>
        </nav>
    </header>

    <section class="account-section">
        <div class="wrapper">
            <h1>Mi Cuenta</h1>
            <form id="account-form" action="{{ url_for('cuenta', nombre_usuario=nombre_usuario) }}" method="POST">
                <div class="input-box">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" >
                </div>
                <div class="input-box">
                    <label for="apellido">Apellido</label>
                    <input type="text" id="apellido" name="apellido" >
                </div>
                <div class="input-box">
                    <label for="mail">Correo Electrónico</label>
                    <input type="email" id="mail" name="mail" >
                </div>
                <div class="input-box">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" id="contraseña" name="contraseña" >
                </div>
                <div class="input-box">
                    <label for="direccion">Dirección</label>
                    <input type="text" id="direccion" name="direccion" >
                </div>
                <div class="input-box">
                    <label for="telefono">Teléfono</label>
                    <input type="text" id="telefono" name="telefono" >
                </div>
                <button type="submit" class="btn" >Actualizar</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="social-media">
                <a href="#"><img src="../static/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="../static/twitter.png" alt="Twitter"></a>
                <a href="#"><img src="../static/instagram.png" alt="Instagram"></a>
            </div>
            <div class="faq">
                <a href="{{url_for('faq', nombre_usuario=nombre_usuario)}}">Preguntas Frecuentes</a>
            </div>
            <div class="copyright">
                <p>© 2024 ARTICKETS</p>
            </div>
        </div>
    </footer>

    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
                fetch('/cuenta/detalle/{{nombre_usuario}}')
                .then(response => response.json())
                .then(data => {
                    document.getElementById("nombre").value = data.nombre;
                    document.getElementById("apellido").value = data.apellido;
                    document.getElementById("mail").value = data.mail;
                    document.getElementById("contraseña").value = data.contraseña;
                    document.getElementById("direccion").value = data.direccion;
                    document.getElementById("telefono").value = data.telefono;
                })
                .catch(error => console.error("Error fetching JSON data:", error));
            });
    </script>
</body>
</html>