<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Cuenta - Plataforma de Entradas</title>
    <link rel="stylesheet" href="../static/cuenta.css">
</head>
<body>
    <header>
        <nav class="nav-container">
            <ul>
                <li class="logo">
                    <a href="/index">
                        <img src="../static/logo.png" alt="Logo" class="logo-img">
                    </a>
                </li>
                <li><a href="{{url_for('eventos', nombre_usuario=nombre_usuario)}}">Eventos</a></li>
                <li><a href="{{url_for('about', nombre_usuario=nombre_usuario)}}">¿Quiénes somos?</a></li>
                <li><a href="{{url_for('faq', nombre_usuario=nombre_usuario)}}">Ayuda</a></li>
                <li><a href="{{url_for('contact', nombre_usuario=nombre_usuario)}}">Contacto</a></li>
                <li><a href="{{url_for('cuenta', nombre_usuario=nombre_usuario)}}">Mi cuenta</a></li>
                <a href="{{ url_for('carrito_detalles', nombre_usuario=nombre_usuario) }}">
                    <img src="{{ url_for('static', filename='carrito.png') }}" alt="Carrito" class="logo-img">
                </a>
            </ul>
        </nav>
    </header>

    <section class="account-section">
        <div class="wrapper">
            <h1>Mi Cuenta</h1>
            <form id="account-form">
                <div class="input-box">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre">
                </div>
                <div class="input-box">
                    <label for="apellido">Apellido</label>
                    <input type="text" id="apellido" name="apellido" placeholder="Apellido">
                </div>
                <div class="input-box">
                    <label for="mail">Correo Electrónico</label>
                    <input type="email" id="mail" name="mail" placeholder="Correo Electrónico">
                </div>
                <div class="input-box">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña">
                </div>
                <div class="input-box">
                    <label for="direccion">Dirección</label>
                    <input type="text" id="direccion" name="direccion" placeholder="Dirección">
                </div>
                <div class="input-box">
                    <label for="telefono">Teléfono</label>
                    <input type="text" id="telefono" name="telefono" placeholder="Teléfono">
                </div>
                <button type="button" class="btn" onclick="updateAccount()">Actualizar</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="social-media">
                <a href="#"><img src="../static/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="../static/twitter.png" alt="Twitter"></a>
                <a href="#"><img src="../static/instagram.png" alt="Instagram"></a>
            </div>
            <div class="faq">
                <a href="{{url_for('faq', nombre_usuario=nombre_usuario)}}">Preguntas Frecuentes</a>
            </div>
            <div class="copyright">
                <p>© 2024 ARTICKETS</p>
            </div>
        </div>
    </footer>

    <script src="../static/cuenta.js"></script>
</body>
</html>