<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artickets</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='detalles.css') }}">
</head>
<body>
    <header>
        <nav class="nav-container">
            <ul>
                <li class="logo">
                    <a href="{{url_for('home', nombre_usuario=nombre_usuario)}}">
                        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo-img">
                    </a>
                </li>
                <li><a href="{{url_for('eventos', nombre_usuario=nombre_usuario)}}">Eventos</a></li>
                <li><a href="{{url_for('about', nombre_usuario=nombre_usuario)}}">¿Quiénes somos?</a></li>
                <li><a href="{{url_for('faq', nombre_usuario=nombre_usuario)}}">Ayuda</a></li>
                <li><a href="{{url_for('contact', nombre_usuario=nombre_usuario)}}">Contacto</a></li>
                <li><a href="{{url_for('cuenta', nombre_usuario=nombre_usuario)}}">Mi cuenta</a></li>
                <li class="carrito">
                    <a href="{{ url_for('carrito_detalles', nombre_usuario=nombre_usuario) }}">
                        <img src="{{ url_for('static', filename='carrito.png') }}" alt="Carrito" class="logo-img">
                    </a>
                    <li><a href="/index">Cerrar Sesión</a></li>
                </li>
            </ul>
        </nav>
    </header>
    <body data-bs-theme="dark">
        <div class="container my-4">
            <div class="row">
                <div class="col-12 col-md-10 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <img src="/imagenes_eventos/{{id_evento}}" alt="" id="image" class="event-image">
                                </div>
                                <div class="col-6">
                                    <div class="event-info-container">
                                        <h2 id="name" class="event-name"></h2>
                                        <h4 id="lugar" class="event-place"></h4>
                                        <p id="descripcion" class="event-description"></p>
                                        <ul>
                                            <li id="hora" class="event-hour"></li>
                                            <li id="fecha" class="event-date"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <ul id="entradas" class="event-ticket">
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                fetch('/evento/{{id_evento}}')
                .then(response => response.json())
                .then(data => {
                    const name = document.getElementById("name");
                    name.innerText = data.nombre_evento;

                    const lugar = document.getElementById("lugar");
                    lugar.innerText = data.lugar;

                    const descripcion = document.getElementById("descripcion");
                    descripcion.innerText = data.descripcion;

                    const fecha = document.getElementById("fecha");
                    fecha.innerText = data.fecha;

                    const hora = document.getElementById("hora");
                    hora.innerText = data.hora;
                })
                .catch(error => console.error("Error fetching JSON data:", error));
            });

            document.addEventListener("DOMContentLoaded", function () {
                fetch('/entradas/{{id_evento}}')
                .then(response => response.json())
                .then(data => {
                    const entradas = document.getElementById("entradas");

                    for (let i = 0; i < data.length; i++) {
                        const element = document.createElement("li");
                        const button = document.createElement("button");
                        button.className = "add-to-cart-button";
                        button.innerText = "Añadir al carrito";
                        button.setAttribute("onclick", "location.href='/carrito/agregar/{{nombre_usuario}}/" + data[i].precio + "/" + data[i].id + "'");

                        element.innerText = "Tipo de entrada: " + data[i].tipo_entrada + ".\n\nPrecio: $" + data[i].precio + ".\n\nCantidad disponible: " + data[i].cantidad_disponible;
                        element.appendChild(button);
                        entradas.appendChild(element);
                    }
                })
                .catch(error => console.error("Error fetching JSON data:", error));
            });

        </script>

        <footer>
            <div class="footer-container">
                <div class="social-media">
                    <a href="#"><img src="{{ url_for('static', filename='facebook.png') }}" alt="Logo" class="logo-img"></a>
                    <a href="#"><img src="{{ url_for('static', filename='twitter.png') }}" alt="Logo" class="logo-img"></a>
                    <a href="#"><img src="{{ url_for('static', filename='instagram.png') }}" alt="Logo" class="logo-img"></a>
                </div>
                <div class="faq">
                    <a href="/login">Preguntas Frecuentes</a>
                </div>
                <div class="copyright">
                    <p>© 2024 ARTICKETS</p>
                </div>
            </div>
        </footer>
    </body>
</html>
