<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>ARtickets</title>
</head>
<body>
    <header>
        <nav class="nav-container">
            <ul>
                <li class="logo">

                    <a href="{{url_for('home', nombre_usuario=nombre_usuario)}}">
                        <img src="../static/logo.png" alt="Logo" class="logo-img">
                    </a>
                </li>
                <li><a href="{{url_for('eventos', nombre_usuario=nombre_usuario)}}">Eventos</a></li>
                <li><a href="{{url_for('about', nombre_usuario=nombre_usuario)}}">¿Quiénes somos?</a></li>
                <li><a href="{{url_for('faq', nombre_usuario=nombre_usuario)}}">Ayuda</a></li>
                <li><a href="{{url_for('contact', nombre_usuario=nombre_usuario)}}">Contacto</a></li>
                <li><a href="{{url_for('cuenta', nombre_usuario=nombre_usuario)}}">Mi cuenta</a></li>
                <li class="carrito">
                    <a href="{{ url_for('carrito_detalles', nombre_usuario=nombre_usuario) }}">
                        <img src="{{ url_for('static', filename='carrito.png') }}" alt="Carrito" class="logo-img">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="slider-frame">
        <ul>
            <li><img src="../static/img1.jpg" alt=""></li>
            <li><img src="../static/img2.png" alt=""></li>
            <li><img src="../static/img3.png" alt=""></li>
            <li><img src="../static/img4.png" alt=""></li>
        </ul>
    </div>
    <section class="hero">
        <div class="search-bar">
            <input type="text" placeholder="Buscar un evento...">
            <button>Buscar</button>
        </div>
    </section>
    <main>
        <section class="concerts">
            <div class="concert">
                <img src="{{ url_for('imagenes_eventos', image_id=1) }}" alt="Concert 1">
                <a href="{{url_for('detalles', id_evento=1, nombre_usuario=nombre_usuario)}}"><button>Comprar tickets</button></a> 
            </div>
            <div class="concert">
                <img src="{{ url_for('imagenes_eventos', image_id=2) }}" alt="Concert 2">
                <a href="{{url_for('detalles', id_evento=2, nombre_usuario=nombre_usuario)}}"><button>Comprar tickets</button></a> 
            </div>
            <div class="concert">
                <img src="{{ url_for('imagenes_eventos', image_id=3) }}" alt="Concert 3">
                <a href="{{url_for('detalles', id_evento=3, nombre_usuario=nombre_usuario)}}"><button>Comprar tickets</button></a> 
            </div>   
            <div class="concert">
                <img src="{{ url_for('imagenes_eventos', image_id=4) }}" alt="Concert 4">
                <a href="{{url_for('detalles', id_evento=4, nombre_usuario=nombre_usuario)}}"><button>Comprar tickets</button></a> 
            </div>
            <div class="concert">
                <img src="{{ url_for('imagenes_eventos', image_id=5) }}" alt="Concert 5">
                <a href="{{url_for('detalles', id_evento=5, nombre_usuario=nombre_usuario)}}"><button>Comprar tickets</button></a> 
            </div>
            <div class="concert">
                <img src="{{ url_for('imagenes_eventos', image_id=6) }}" alt="Concert 6">
                <a href="{{url_for('detalles', id_evento=6, nombre_usuario=nombre_usuario)}}"><button>Comprar tickets</button></a> 
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-container">
            <div class="social-media">
                <a href="#"><img src="../static/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="../static/twitter.png" alt="Twitter"></a>
                <a href="#"><img src="../static/instagram.png" alt="Instagram"></a>
            </div>
            <div class="faq">
                <a href="{{url_for('faq', nombre_usuario=nombre_usuario)}}">Preguntas Frecuentes</a>
            </div>
            <div class="copyright">
                <p>© 2024 ARTICKETS</p>
            </div>
        </div>
    </footer>
</body>
</html>