<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>ARtickets</title>
</head>
<body>
    <header>
        <nav class="nav-container">
            <ul>
                <li class="logo">
                    <a href="/index">
                        <img src="../static/logo.png" alt="Logo" class="logo-img">
                    </a>
                </li>
                <li><a href="/login">Eventos</a></li>
                <li><a href="/login">¿Quiénes somos?</a></li>
                <li><a href="/login">Ayuda</a></li>
                <li><a href="/login">Contacto</a></li>
                <li><a href="/login">Iniciar sesión / Registrarse</a></li>
                <li><a href="../templates/carrito.html">Carrito</a></li>
                <li class="carrito">
                    <img src="../static/carrito.png" alt="carrito" class="carrito-img">
                </li>
            </ul>
        </nav>
    </header>
    <div class="slider-frame">
        <ul>
            <li><img src="../static/img1.jpg" alt=""></li>
            <li><img src="../static/img2.png" alt=""></li>
            <li><img src="../static/img3.png" alt=""></li>
            <li><img src="../static/img4.png" alt=""></li>
        </ul>
    </div>
    <section class="hero">
        <div class="search-bar">
            <input type="text" placeholder="Buscar un evento...">
            <button>Buscar</button>
        </div>
    </section>
    <main>
        <section class="concerts">
            <div class="concert">
                <img src="../static/concert1.jpg" alt="Concert 1">
                <button>Comprar tickets</button>
            </div>
            <div class="concert">
                <img src="../static/concert2.jpg" alt="Concert 2">
                <button>Comprar tickets</button>
            </div>
            <div class="concert">
                <img src="../static/concert3.jpg" alt="Concert 3">
                <button>Comprar tickets</button>
            </div>
            <div class="concert">
                <img src="../static/concert4.jpg" alt="Concert 4">
                <button>Comprar tickets</button>
            </div>
            <div class="concert">
                <img src="../static/concert5.jpg" alt="Concert 5">
                <button>Comprar tickets</button>
            </div>
            <div class="concert">
                <img src="../static/concert6.jpg" alt="Concert 6">
                <button>Comprar tickets</button>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-container">
            <div class="social-media">
                <a href="#"><img src="../static/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="../static/twitter.png" alt="Twitter"></a>
                <a href="#"><img src="../static/instagram.png" alt="Instagram"></a>
            </div>
            <div class="faq">
                <a href="/login">Preguntas Frecuentes</a>
            </div>
            <div class="copyright">
                <p>© 2024 ARTICKETS</p>
            </div>
        </div>
    </footer>
</body>
</html>